<!DOCTYPE html>
<html>
    <head>

        <title>Detalles</title>

    </head>
    <body>

        <h3>Ingrese nueva tarea</h3>

        <h4>Título:{{ tarea_seleccionada.Titulo }}</h4>
        <h4>Descripción:{{ tarea_seleccionada.Descripcion }}</h4>
        <h4>Fecha de creación:{{ tarea_seleccionada.Fecha_de_creacion }}</h4>
        <h4>Fecha de entrega:{{ tarea_seleccionada.Fecha_de_entrega }}</h4>
        <h4>Usuario designado:{{ tarea_seleccionada.Usuario_designado }}</h4>

    </body>


</html>