<!DOCTYPE html>
<html>
    <head>

        <title>Login</title>

    </head>
    <body>

        <h3>Ingreso al Sistema</h3>

        <form method="POST" action="{% url 'gestion_tareas:Login' %}">
        {% csrf_token %}
            <h5>Nombre</h5>
            <input type="Text" name="NombreUsuario">
            <h5>Contraseña</h5>
            <input type="Text" name="ClaveUsuario">
            <br>
            <br>
            <button type="Submit">Ingresar</button>

        </form>




    </body>


</html>